<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
		</sectionGroup>
	</configSections>
    <system.web>
        <authorization>
            <allow users="davidsonw,chris_000,p3admin,paradigm setup" />
            <deny users="*" />
        </authorization>
    </system.web>
	<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
</configuration>
