body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #fff;
}

	a:hover {
		text-decoration: underline;
	}

	a:active, a.visited {
		text-decoration: none;
		color: #fff;
	}

#container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

	#container #filters {
		order: 1;
		flex: 0 0 250px;
		box-sizing: border-box;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	#container #divider {
		order: 2;
		flex: 0 0 5px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		box-sizing: border-box;
		background-color: #f1f1f1;
	}

	#container #results {
		order: 2;
		flex: 1 1 auto;
		background-color: #fff;
		box-sizing: border-box;
	}

.amtrakTitleBar {
	padding: 5px 10px;
	background-color: #00537e;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	border-bottom: 1px solid black;
	width: 100%;
}

.search-results {
	height: calc(100vh - 30px);
	overflow-y: auto;
}

.homeContent {
	display: flex;
	flex-direction: column;
	height: 100vh;	
}

.customBanner {
	position: relative;
	flex: 0 0 60px;
	background-color: #00537e;
	border-bottom: 1px solid #fff;
	display: flex;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
}

.bannerText {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 1.2em;
	color: #fff;
}

	.bannerText div:nth-child(1) {
		flex: 0 0 40px;
		display: flex;
		align-items: flex-start;
		font-size: 1.5em;
	}

	.bannerText div:nth-child(2) {
		flex: 1;
		font-size: .8em;
	}

#imgLogo {
	width: auto;
	height: 60px;
	margin: 0;
}

#imgAcela {
	width: auto;
	height: 100px;
	margin: 0;
}

.amtrak-ActionItems {
	flex: 0 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffc709;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #002436;
	font-size: 1.25em;
	font-weight: 600;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
}

.customContent {
	flex: 1 1 auto;
	position: relative;
	margin: 0;
	padding: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	background-color: #00537e;
}

.amtrak-buttons {
	flex: 0 0 70px;
	display: flex;
	flex-direction: row;
	padding: 5px;
	box-sizing: border-box;
}

.amtrak-links {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	flex-wrap: wrap;
}

	.amtrak-links div {
		width: 350px;
		padding: 5px 0 0 15px;
		color: #fff;
	}

.btn {
	display: block;
	width: 220px;
	padding: 5px;
	margin: 0 auto;
	font-size: 1rem;
	border: 1px solid darkblue;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: #167fa6;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	transition: all 100ms ease-in-out;
}

	.btn:hover {
		background-color: #006aa3;
		border: 1px solid #003a60;
	}

.btn-control {
	padding: 5px 10px;
	margin: 0 auto;
	font-size: 1rem;
	border: 1px solid darkblue;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: #167fa6;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	transition: all 100ms ease-in-out;
}

	.btn-control:hover {
		background-color: #006aa3;
		border: 1px solid #003a60;
	}

.homeBtn {
	flex: 0 0 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2px;
	background-color: #e6e9eb;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #002436;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
	margin-bottom: 10px;
	box-sizing: border-box;
}

	.homeBtn:hover {
		background-color: #006aa3;
	}

	.homeBtn .homeBtn-header {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		font-weight: 700;
		transition: color 100ms ease-in-out;
		word-wrap: break-word;
		box-sizing: border-box;
	}

	.homeBtn .homeBtn-description {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: .75em;
		text-align:center;
		box-sizing: border-box;
	}

.amtrak-data {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 5px;
	box-sizing: border-box;
	flex-wrap: nowrap;
}

.grid {
	flex: 1 1 200px;
	min-height: 0;
	background-color: #fff;
	border: 1px solid #e6e9eb;
	box-sizing: border-box;
	border-radius: 4px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.grid .gridHeader {
		width: 100%;
		box-sizing: border-box;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		background-color: #e6e9eb;
		color: #002436;
		text-align: center;
		font-size: 1em;
		font-weight: 600;
		padding: 5px;
	}

	.grid .gridBody {
		width: 100%;
		height: 180px;
		overflow-y: auto;
	}

	.amtrak-data .dcr-message {
		flex: 0 0 30px;
		display: flex;
		padding-top: 10px;
		justify-content: center;
		font-size: 1em;
		font-weight: 600;
		color: #fff;
		text-align: center;
	}

	.amtrak-data .links {
		flex: 0 0 150px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

		.amtrak-data .links a {
			text-decoration: none;
			color: #fff;
		}

		.amtrak-data .links .safety-logo {
			flex: 0 0 130px;
			text-align: center;
		}

		.amtrak-data .links .safety-links {
			flex: 1 1 auto;
			font-size: 1em;
			font-weight: 600;
			color: #fff;
		}

	.amtrak-data .links2 {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
	}

		.amtrak-data .links2 img {
			margin-right: 5px;
			height: 16px;
		}

		.amtrak-data .links2 a {
			color: #fff;
			font-size: 1em;
			font-weight: 600;
		}

		.amtrak-data .links2 div:nth-child(1) {
			flex: 0 0 50%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		.amtrak-data .links2 div:nth-child(2) {
			flex: 1 1 auto;
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

.amtrak-gridView {
	width: 100%;
	font: normal 1em arial, verdana;
}

.amtrak-gridViewHeader {
	background-color: #f0f0f0;
	color: #000;
	text-decoration: none;
	text-align: left;
	font: bold 1em arial, verdana;
	height: 20px;
	border-bottom: 1px solid black;
}

.amtrak-gridViewRow {
	padding: 2px;
	background-color: #FFFFFF;
	color: #000000;
	vertical-align: middle;
}

.amtrak-gridViewAltRow {
	background-color: #F0F0F0;
	color: #000000;
	vertical-align: middle;
}

.amtrak-gridViewSelRow {
	background-color: #0078D7 !important;
	color: #fff !important;
	vertical-align: middle;
}

.linkTitle {
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

.form-group {
	flex: 1 1 auto;
	padding: 2px;
	box-sizing: border-box;
}

.selectList {
	font-size: .75em;
	border: 0 solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 0;
	width: 100%;
	transition: height 200ms;
	margin-top: 5px;
	padding-left: 5px;
}

.showList {
	height: 80px;
	border: 1px solid #ccc;
}

.form-submit {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	background-color: #e6e9eb;
}

.gv {
	width: 895px;
	font: normal 1em arial, verdana;
}

.gvHeader {
	background-color: #f0f0f0;
	color: #000;
	text-decoration: none;
	text-align: left;
	font: bold 10pt arial, verdana;
	height: 20px;
	border-bottom: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
}

	.gvHeader a {
		color: #000000;
		text-decoration: none;
		padding: 5px;
	}

.gvRow {
	background-color: #FFFFFF;
	color: #000000;
	vertical-align: middle;
	font: normal 8pt arial, verdana;
	padding: 5px;
}

.gv td {
	padding: 5px 7px;
	cursor: pointer;
	box-sizing: border-box;
}

.gvAltRow {
	background-color: #f1f1f1;
	color: #000;
	vertical-align: middle;
	font: normal 8pt arial, verdana;
}

.gvSelRow {
	background-color: #0078d7;
	color: #fff;
	vertical-align: middle;
	font: normal 8pt arial, verdana;
}

.gvPager td {
	padding: 0;
}

.gvPager a, .gvPager span {
	display: block;
	height: 20px;
	min-width: 20px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	font-size: 1.25em;
	border-radius: 2px;
	transition: all 100ms ease-in-out;
}

.gvPager a {
	background-color: #f1f1f1;
	color: #787878;
	border: 1px solid #969696;
}

	.gvPager a:hover {
		background-color: #fff;
		border: 1px solid darkblue;
		color: darkblue;
	}

.gvPager span {
	background-color: cornflowerblue;
	color: #fff;
	border: 1px solid #000;
}

.pleaseWait {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
}

	.pleaseWait img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: auto;
	}

@media only screen and (max-width: 1024px) {
	.customBanner {
		flex: 0 0 50px;
		font-size: 10px;
	}

	#imgLogo {
		height: 50px;
	}

	#imgAcela {
		display: none;
	}

	.bannerText div:nth-child(1) {
		flex: 0 0 20px;
		display: flex;
		align-items: flex-start;
		font-size: 1.5em;
	}

	.bannerText div:nth-child(2) {
		flex: 1;
		font-size: .8em;
	}

	.amtrak-buttons {
		flex: 0 0 40px;
	}

	.homeBtn {
		flex: 0 0 300px;
		height: 40px;
		margin-bottom: 0;
	}

		.homeBtn .homeBtn-header {
			font-size: .9em;
			text-transform: uppercase;
		}

	.amtrak-links div {
		width: 250px;
		padding: 5px 0 0 10px;
		color: #fff;
		font-size: .85rem;
	}

	.amtrak-gridView {
		font: normal .85em arial, verdana;
	}

	.amtrak-gridViewHeader {
		font: bold .85em arial, verdana;
	}
}